---
import SkillsSection from '../components/SkillsSection.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
---

<section class="flex flex-col h-screen pt-24 my-auto justify-evenly">
	<div class="max-w-xl mx-auto text-center">
		<div class="mb-4">
			<img src="/profile.jpeg" alt="profile-photo" class="w-48 h-48 rounded-full mx-auto shadow-lg border-[1px] border-kakhi-800"/>
		</div>
		<h1 class="about-title text-5xl">Paulo Panduro</h1>
		<h4 class="text-2xl font-bold my-3">The code never sleeps, but I do sometimes.</h4>
		<p class="mt-4 text-gray-400 text-center">Welcome to my personal website! I'm a web developer passionate about creating efficient and scalable applications. Always looking for new challenges and opportunities to learn something new. 
		</p>
		<p class="text-kakhi-400 font-semibold lg:mt-2">About my dev path:</p>
		<div class="mt-6 flex justify-center gap-4">
			<a href="https://github.com/paul0pv" target="_blank" class="flex gap-2 bg-bw-700 hover:bg-bw-600 text-bw-100 font-medium py-2 px-4 rounded-md"><GitHubIcon /> GitHub</a>
			<a href="https://www.linkedin.com/in/paulo-gonzalo-panduro-vasquez-746394143" target="_blank" class="flex gap-2 bg-steelBlue-700 hover:bg-pictonBlue-700 text-bw-100 font-medium py-2 px-4 rounded-md"><LinkedinIcon /> LinkedIn</a>
		</div>
	</div>
	<SkillsSection />
</section>