---
//import ProfileIcon from '../icons/ProfileIcon.astro';
//import BlogIcon from '../icons/BlogIcon.astro';
//import PortfolioIcon from '../icons/PortfolioIcon.astro';
---

<nav class="grid grid-cols-3 text-center py-auto">
    <h2 class="text-2xl font-bold text-lapislazuli-400 opacity-25 cursor-pointer hover:opacity-100 lg:hover:-translate-y-2">
        <!--BlogIcon /-->
        <a href="/blog">
            Blog
        </a>
    </h2>
    <h2 class="text-3xl font-bold text-steelBlue-500 cursor-pointer lg:hover:-translate-y-2">
        <!--ProfileIcon /-->
        <a href="/">
            About Me
        </a>
    </h2>
    <h2 class="text-2xl font-bold text-lapislazuli-400 opacity-25 cursor-pointer hover:opacity-100 lg:hover:-translate-y-2">
        <!--PortfolioIcon /-->
        <a href="/portfolio">
            Portfolio
        </a>
    </h2>
</nav>