---
---

<nav class="hidden md:block lg:mx-20">
    <div class="flex justify-around py-auto">
        <h2 class="text-2xl font-bold text-lapislazuli-400 opacity-25 cursor-pointer hover:text-3xl hover:opacity-100">Blog</h2>
        <h2 class="text-3xl font-bold text-steelBlue-500 cursor-pointer">About Me</h2>
        <h2 class="text-2xl font-bold text-lapislazuli-400 opacity-25 cursor-pointer hover:text-3xl hover:opacity-100">ContactMe</h2>
    </div>
    </div>
</nav>