---
const badges = [
    {
        name: 'JavaScript',
        color: 'bg-yellow-500',
    },
    {
        name: 'Python',
        color: 'bg-blue-500',
    },
    {
        name: 'React',
        color: 'bg-blue-500',
    },
    {
        name: 'Node.js',
        color: 'bg-green-500',
    },
    {
        name: 'SQL',
        color: 'bg-yellow-500',
    },
]
---

<section class="hidden mt-10">
    <div >
        <div class="bg-gray-800 text-bw-100 p-6 rounded-lg shadow-md text-center">JavaScript</div>
        <div class="bg-gray-800 text-bw-100 p-6 rounded-lg shadow-md text-center">Python</div>
        <div class="bg-gray-800 text-bw-100 p-6 rounded-lg shadow-md text-center">React</div>
        <div class="bg-gray-800 text-bw-100 p-6 rounded-lg shadow-md text-center">Node.js</div>
        <div class="bg-gray-800 text-bw-100 p-6 rounded-lg shadow-md text-center">SQL</div>
    </div>
</section>