---

---

<header class="bg-bw-900 bg-opacity-35 p-4 shadow-sm lg:px-20">
    <nav class="flex justify-between items-center">
        <div class=" text-bw-100 hover:text-pictonBlue-400">
            <a href="/">
                <h4 class="text-3xl font-bold">
                    PP
                </h4>
            </a>
        </div>
        <div class="text-bw-100">
            <ul>
                <li class="hover:underline">
                    <a href="/projects">
                        More
                    </a>
                </li>
            </ul>    
        </div>  
    </nav>
</header>