---
---

<div id="container">
	<main class="mx-auto text-center text-white mt-10">
		<section class="mx-4 lg:mx-20">
			<div>
				<img src="/profile.jpeg" alt="profile-photo" class="w-48 h-48 rounded-full mx-auto shadow-lg border-4 border-white">
			</div>
			<h1 class="text-5xl mt-4 font-bold">Paulo Panduro</h1>
			<h4 class="text-2xl font-bold">The code never sleeps, but I do sometimes.</h4>
			<p class="mt-4 text-gray-400 max-w-xl mx-auto">Welcome to my personal website! I'm a web developer passionate about creating efficient and scalable applications. Always looking for new challenges and opportunities to learn something new. 
			</p>
			<p class="text-gray-300">About my projects:</p>
            <div class="mt-6 flex justify-center gap-4">
                <a href="https://github.com/paul0pv" target="_blank" class="flex items-center justify-between gap-2 bg-gray-800 hover:bg-gray-700 text-white font-medium px-6 py-2 rounded-full"><img src="/github-dark.svg" class="w-4 h-4"/> GitHub</a>
				<a href="https://www.linkedin.com/in/paulo-gonzalo-panduro-vasquez-746394143" target="_blank" class="flex items-center justify-between gap-2 bg-blue-500 hover:bg-blue-600 text-white font-medium px-6 py-2 rounded-full"><img src="/linkedin.svg" class="w-4 h-4"/> LinkedIn</a>
				<!--a class="border-2 border-gray-700 text-white font-medium px-6 py-2 rounded-full pointer-events-none cursor-default">pandurovasquezpaulogonzalo@gmail.com</a-->
			</div>
		</section>

		<section class="mt-16 lg:mx-20">
            <h2 class="text-3xl font-bold text-center text-white mb-12">Projects</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-4">
                <div class="bg-gray-800 text-white p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-bold mb-2">Project 1</h3>
                    <p class="text-gray-400">Description of the project goes here. It highlights the main features and technologies used.</p>
                    <a href="#" class="text-blue-500 hover:underline mt-4 block">View More</a>
                </div>
                <div class="hidden bg-gray-800 text-white p-6 rounded-lg shadow-md md:grid">
                    <h3 class="text-xl font-bold mb-2">Project 2</h3>
                    <p class="text-gray-400">Description of the project goes here. It highlights the main features and technologies used.</p>
                    <a href="#" class="text-blue-500 hover:underline mt-4 block">View More</a>
                </div>
				<div class="hidden bg-gray-800 text-white p-6 rounded-lg shadow-md lg:grid">
                    <h3 class="text-xl font-bold mb-2">Project 2</h3>
                    <p class="text-gray-400">Description of the project goes here. It highlights the main features and technologies used.</p>
                    <a href="#" class="text-blue-500 hover:underline mt-4 block">View More</a>
                </div>
            </div>
        </section>
	</main>
</div>