---
import ProjectTabs from "./ProjectTabs.astro"
---

<section class="mt-10 lg:mx-20">
    <div class="flex justify-evenly mb-10">
        <h2 class="text-2xl font-bold text-white-200 opacity-25 cursor-pointer hover:text-3xl hover:opacity-100">Skills</h2>
        <h2 class="text-3xl font-bold text-white cursor-pointer">Projects</h2>
        <h2 class="text-2xl font-bold text-white-200 opacity-25 cursor-pointer hover:text-3xl hover:opacity-100">ContactMe</h2>
    </div>
    </div>
    <ProjectTabs/>
</section>