---

---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-4">

    <div class="bg-steelBlue-900 text-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-bold mb-2">U-Connect</h3>
        <p class="text-bw-400">A social network for students to share academic content through forums.</p>
        <div class="flex flex-wrap justify-evenly mt-4">
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Vite</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">React</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">TypeScript</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Tailwind</span>
        </div>
        <p class="mt-4 text-bw-400 text-sm">Key Learnings: Building scalable components and managing state in TypeScript.</p>
        <a href="https://u-connect-eta.vercel.app/" target="_blank" class="text-blue-500 hover:underline mt-4 block">View Project</a>
    </div>

    <div class="bg-steelBlue-900 text-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-bold mb-2">Chapter&Verse</h3>
        <p class="text-bw-400">A fake online bookstore built to explore modern UI and design principles.</p>
        <div class="flex flex-wrap justify-evenly mt-4">
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Vite</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">React</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">TypeScript</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Tailwind</span>
        </div>
        <p class="mt-4 text-bw-400 text-sm">Key Learnings: Improving user experience with responsive design and clean UI.</p>
        <a href="https://chapter-and-verse.vercel.app/" target="_blank" class="text-blue-500 hover:underline mt-4 block">View Project</a>
    </div>

    <div class="bg-steelBlue-900 text-white p-6 rounded-lg shadow-md">
        <!--img src="/images/pocketlink.jpg" alt="PocketLink Screenshot" class="rounded-lg mb-4"-->
        <h3 class="text-xl font-bold mb-2">PocketLink</h3>
        <p class="text-bw-400">A URL shortener and QR code generator with a minimalistic design.</p>
        <div class="flex flex-wrap justify-evenly mt-4">
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Astro</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">Tailwind</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded text-sm">TypeScript</span>
        </div>
        <p class="mt-4 text-bw-400 text-sm">Key Learnings: Static site generation and integration with QR code APIs.</p>
        <a href="https://pocketlink-nine.vercel.app/" target="_blank" class="text-blue-500 hover:underline mt-4 block">View Project</a>
    </div>
</div>