---
import type { Project } from '../lib/data';

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { id, title, description, tools, learning, link } = project;

---

<article class="hidden relative bg-lapislazuli-600 text-bw-200 my-6 py-7 px-4 rounded-md shadow-lg md:flex md:flex-col">
    <div class="absolute -top-6 left-0 bg-lapislazuli-600 w-1/4 h-8 rounded -skew-x-1"></div>
    <div class="absolute -top-3 right-1 bg-bw-300 w-4/5 h-4 rounded-sm z-[-10]"></div>
        <h3 class="text-xl font-bold mb-4">{title}</h3>
        <p class="text-bw-400">{description}</p>
        <!--div class="flex gap-2 justify-evenly mt-4">
            {tools.map((tool: string) => (
                <span class="bg-steelBlue-900 text-white px-2 py-1 rounded-2xl text-sm">{tool}</span>
            ))}
        </div-->
        <a href={link} target="_blank" class="absolute bottom-0 mb-4 text-blue-500 hover:underline">{`>> View Project <<`}</a>
</article>