---
import Header from '../components/Header.astro';
//astro colors: #ff1639 #ff5d01
//js colors: #F0DB4F
//node colors: #83CD29
//django colors: #092e20
//mongo colors: #439934 #4FAA41 #60B24F #45A538 #46A037 #409433 #4FAA41 #4AA73C #57AE47
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Paulo Panduro</title>
	</head>
	<body class="min-h-screen relative bg-gradient-to-br from-bw-950 to-steelBlue-950 font-sans">
		<Header/>
		<main class="px-4 text-bw-100 lg:px-20">
			<slot />
		</main>
		<!--footer class="fixed h-12 w-full left-0 bottom-0 justify-center py-2 px-4 lg:block lg:px-20">
		</footer-->
	</body>
	<style is:global>
			.about-title {
				font-weight: 700;
				color: transparent;
				background-clip: text;
				background-image: linear-gradient(to right, #7D725E, #EBEAE5);
	}
	</style>
	<script>
		document.addEventListener('scroll', () => {
			const header = document.getElementById('header');
			if (window.scrollY > 0) {
				header.classList.remove('bg-opacity-35');
				header.classList.add('bg-opacity-80');
			} else {
				header.classList.add('bg-opacity-35');
				header.classList.remove('bg-opacity-80');	
			}
		});
	</script>
</html>
