<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> <!-- Swiper Stylesheet -->
		<script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Paulo Panduro</title>
	</head>
	<body class="min-h-screen left-0 top-0 bg-gradient-to-br from-bw-950 to-steelBlue-950 font-sans">
		<slot />
	</body>
</html>
