---
import Header from '../components/Header.astro';
import FooterNav from '../components/FooterNav.astro';
//astro colors: #ff1639 #ff5d01
//js colors: #F0DB4F
//node colors: #83CD29
//django colors: #092e20
//mongo colors: #439934 #4FAA41 #60B24F #45A538 #46A037 #409433 #4FAA41 #4AA73C #57AE47
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Paulo Panduro</title>
	</head>
	<body class="min-h-screen left-0 top-0 bg-gradient-to-br from-bw-950 to-steelBlue-950 font-sans">
		<Header/>
		<main class="mx-auto [grid-area:page-content] h-[85vh] p-4 text-center text-bw-100 lg:px-20">
			<slot />
		</main>
		<footer class="[grid-area:pages-nav] hidden fixed h-20 w-full left-0 bottom-0 justify-center p-4 lg:block lg:px-20">
			<FooterNav/>
		</footer>
	</body>

	<style>
		main {
			display: grid;
			grid-template-areas: 
			"page-content"
			"pages-nav";
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;

		}
	</style>
</html>
